.ui-header .ui-title, .ui-footer .ui-title-costum {
  text-align: left;
  margin-left: 20px;
}

.ui-cash {
  margin-bottom: 8px;
}

.cash-title {
  text-transform: uppercase;
  font-size: 12px;
}

.cash-amount {
  vertical-align: top;
  display: flex;
  font-size: 12px;
}

.cash-amount span {
  margin-left: 5px;
  margin-top: -2px;
  font-size: 18px;
}

.cash-point {
  text-transform: uppercase;
  font-size: 12px;
}

.ui-btn-topup {
  margin: 3px;
}

.banner-item, .banner-item-2 {
  margin-left: -35px;
}

.banner-item-list img {
  width: calc(100% - 25px);
  border-radius: 5px;
}

.alert-dev {
  font-size: 10px;
  color: red;
  font-weight: 600;
  letter-spacing: 0.8px;
}

.ui-wallet {
  text-align: center;
  padding: 20px 0;
}

.ui-wallet-box .ui-block-a .ui-bar {
  padding: 20px;
}

.ui-wallet-box .ui-block-a .ui-bar .ui-btn-topup {
  margin: 0;
  border-radius: 5px;
  font-size: 14px;
}

.ui-wallet-box .ui-block-a .ui-bar input[type=number],
.ui-wallet-box .ui-block-a .ui-bar input[type=text] {
  font-size: 14px;
  padding: 10px;
}

ul.setting-list.ui-listview {
  margin-top: 15px;
}

.setting-list li, .setting-list li a {
  background: none !important;
}

.setting-list li.ui-li-divider {
  margin-top: 15px;
}

.setting-list li a.ui-btn {
  font-size: 12px;
  font-weight: normal;
  padding-left: 25px;
}

.ui-wallet-detail .title {
  font-weight: 600;
  font-size: 14px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.ui-wallet-detail .ui-block-a div {
  font-size: 13px;
}

.ui-wallet-detail .ui-block-b div {
  font-size: 13px;
  text-align: right;
}

.ui-wallet-detail div.total {
  font-weight: 600;
}

.footer-with-banner.ui-footer.ui-bar-inherit {
  background: none;
  border: none;
}

.ui-header .logo-header {
  float: left;
  height: 30px;
  margin: 6px 6px 6px 20px;
}

.form-box {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 480px;
  padding: 25px;
  position: absolute;
  display: inline-block;
}

.form-box .login-logo {
  text-align: center;
}

.form-box .login-form-control {
  margin: 10px 7px;
  font-size: 14px;
}

.form-box .login-btn-control {
  font-size: 14px;
  padding: 15px;
}

.form-box .text-control {
  font-size: 14px;
}

.form-box .or-control {
  text-align: center;
  font-weight: 600;
}