.ui-mobile, .ui-mobile body {
  height: auto !important;
}

.hidden {
  display: none;
}

.ui-header .ui-title, .ui-footer .ui-title-costum {
  text-align: left;
  margin-left: 45px;
}

.ui-cash {
  margin-bottom: 8px;
}

.cash-title {
  font-size: 12px;
  text-transform: uppercase;
}

.cash-amount {
  display: flex;
  font-size: 12px;
  vertical-align: top;
}

.cash-amount span {
  font-size: 18px;
  margin-left: 5px;
  margin-top: -2px;
}

.cash-point {
  font-size: 12px;
  text-transform: uppercase;
}

.ui-btn-topup {
  margin: 3px;
}

.banner-item, .banner-item-2 {
  margin-left: -35px;
}

.banner-item-list img {
  border-radius: 5px;
  width: calc(100% - 25px);
}

.ui-wallet {
  padding: 20px 0;
  text-align: center;
}

.ui-wallet-box .ui-block-a .ui-bar {
  padding: 20px;
}

.ui-wallet-box .ui-block-a .ui-bar .ui-btn-topup {
  margin: 0;
  font-size: 14px;
  border-radius: 5px;
}

.ui-wallet-box .ui-block-a .ui-bar input[type=number],
.ui-wallet-box .ui-block-a .ui-bar input[type=text] {
  font-size: 14px;
  padding: 10px;
}

.setting-list li, .setting-list li a {
  background: none !important;
}

.setting-list li.ui-li-divider {
  margin-top: 15px;
}

.setting-list li a.ui-btn {
  font-size: 12px;
  padding-left: 25px;
  font-weight: normal;
}

.footer-with-banner.ui-footer.ui-bar-inherit {
  border: none;
  background: none;
}

.ui-header .logo-header {
  float: left;
  height: 30px;
  margin: 6px 6px 6px 10px;
}

.ppob-label {
  font-size: 12px;
}

.ui-btn-topup.ui-btn {
  font-size: 14px;
  padding-top: 12.5px;
  letter-spacing: 0.5px;
  padding-bottom: 12.5px;
}

.form-box {
  padding: 20px;
}

.text-riwayat {
  font-weight: 200;
}